# Node modules (backend + frontend)
backend/node_modules/
realtime-notification-frontend/node_modules/

# Environment files
backend/.env
frontend/.env

# Logs
*.log

# Angular build output
frontend/dist/

# OS & IDE junk
.DS_Store
.env
*.swp
*.swo
.vscode/
